includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - app/Exceptions/Handler.php
        - app/Providers/AppServiceProvider.php

 